%h1 matthew dodds

%h2 // developer //

%h2 experience

%p <timeline>

.block
	%h2 aspirations
	.block-card
		%h3 Entraprenuership
		%p In search of a great idea
	.block-card
		%h3 Craftsmanship
		%p Continuing development of skills