<html lang="en">
  <title>Code is Beautiful</title>
  <head>
    <%= css :application %>
    <%= js :application %>
  </head>

  <body>
    <div class="row site">
      <div class="col-md-9 main-box">
        <pre class='language-markup'>

          <code class='language-markup'></code>
        </pre>
      </div>

      <%= partial :side_box, template_engine: :erb %>
    </div>
    </div>
  </body>
</html>

<script type="text/javascript">
  content = document.documentElement.outerHTML;
  $('code').text(content);
  Prism.highlightAll();

  $('.side-box').mouseenter(function(){
    $('.side-box').toggleClass('col-md-3 col-md-5');
    $('.main-box').toggleClass('col-md-9 col-md-7');
  });

  $('.side-box').mouseleave(function(){
    $('.side-box').toggleClass('col-md-5 col-md-3');
    $('.main-box').toggleClass('col-md-7 col-md-9');
  })
</script>