<html lang='en'>
  <title>Code is Beautiful</title>
  <head>
    <script src='/javascripts/jquery.min.js' type='text/javascript'></script>
    <script src='/javascripts/bootstrap.min.js' type='text/javascript'></script>
    <script src='/javascripts/prism.js' type='text/javascript'></script>

    <link href='/stylesheets/bootstrap.min.css' rel='stylesheet'>
    <link href='/stylesheets/prism.css' rel='stylesheet'>
    <link href='/stylesheets/site.css' rel='stylesheet'>
  </head>

  <body>
    <div class='row site'>
      <div class='col-md-9 main-box'>
        <pre class='language-markup'>

          <code class='language-markup'></code>
        </pre>
      </div>

      <%= partial :side_box, template_engine: :erb %>
    </div>
    </div>
  </body>
</html>

<script type='text/javascript'>
  content = document.documentElement.outerHTML;
  $('code').text(content);
  Prism.highlightAll();

  $('.side-box').mouseenter(function(){
    $('.side-box').toggleClass('col-md-3 col-md-5');
    $('.main-box').toggleClass('col-md-9 col-md-7');
  });

  $('.side-box').mouseleave(function(){
    $('.side-box').toggleClass('col-md-5 col-md-3');
    $('.main-box').toggleClass('col-md-7 col-md-9');
  })
</script>