<div class="col-md-3 side-box">
  <p class="lead">
    Hi, I'm Matthew Dodds. I'm a Ruby on Rails Developer.
  </p>
  <div class="text-container">
    <p>There is something incredibly fascinating about the idea of translating a concept into reality, making the unseen visible. That is the job of software developers.</p>
  </div>
  <div class="row">
    <a class="btn btn-default" href="http://www.linkedin.com/in/doddsmatthew" target="_blank">
      <img src="images/linkedin-128-black.png">
        Linkedin
    </a>
  </div>
  <div class="row">
    <a class="btn btn-default" href="https://github.com/MatthewRDodds" target="_blank">
      <img src="images/github-128-black.png">
        Github
    </a>
  </div>
  <div class="row">
    <a class="btn btn-default" href="mailto:matthewrusselldodds@gmail.com?Subject=Hi" target="_blank">
      <img src="images/gmail-128-black.png">
        Email
    </a>
  </div>
  <div class="row">
    <a class="btn btn-default" href="https://about.me/intellius" target="_blank">
      <img src="images/aboutme-128-black.png">
        About Me
    </a>
  </div>
  <div class="row">
    <a class="btn btn-default" href="https://twitter.com/Dodds_M" target="_blank">
      <img src="images/twitter-128-black.png">
        Twitter
    </a>
  </div>
  <div class="row">
    <a class="btn btn-default" href="http://matthewdodds.svbtle.com/" target="_blank">
      <img src="images/wordpress-128-black.png">
        Blog
    </a>
  </div>
  <div class="row">
    <a class="btn btn-default" href="http://instagram.com/mdodds2" target="_blank">
      <img src="images/instagram-128-black.png">
        Instagram
    </a>
  </div>
</div>