<div class="col-md-3 side-box">
  <p class="lead">
    Hi, I'm Matthew Dodds. I'm a Ruby on Rails Developer.
  </p>
  <div class="text-container">
    There is something incredibly fascinating about the idea of translating a concept into reality, making the unseen visible. That is the job of software developers.
  </div>
  <div class="row">
    <button type="button" class="btn btn-default">
      <a href="http://www.linkedin.com/in/doddsmatthew" target="_blank">
        <img src="images/linkedin-128-black.png">
        Linkedin
      </a>
    </button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-default">
      <a href="https://github.com/MatthewRDodds" target="_blank">
        <img src="images/github-128-black.png">
        Github
      </a>
    </button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-default">
      <a href="mailto:matthewrusselldodds@gmail.com?Subject=Hi" target="_blank">
        <img src="images/gmail-128-black.png">
        Email
      </a>
    </button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-default">
      <a href="https://about.me/intellius" target="_blank">
       <img src="images/aboutme-128-black.png">
        About Me
      </a>
    </button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-default">
      <a href="https://twitter.com/Dodds_M" target="_blank">
       <img src="images/twitter-128-black.png">
        Twitter
      </a>
    </button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-default">
      <a href="http://matthewdodds.svbtle.com/" target="_blank">
       <img src="images/wordpress-128-black.png">
        Blog
      </a>
    </button>
  </div>
  <div class="row">
    <button type="button" class="btn btn-default">
      <a href="http://instagram.com/mdodds2" target="_blank">
       <img src="images/instagram-128-black.png">
        Instagram
      </a>
    </button>
  </div>
</div>